.headerTime {
  color: #9ea4aa;
  font-size: 75%;
}

.header {
  font-size: 125%;
}

.contents {
  word-wrap: break-word;
}

.dropdownMenu {
  float: right;
}

.unread {
  background-color: rgba(43, 117, 187, 0.15);
}

.read {
  background-color: #fff;
}

.action {
  background-color: #fffbd9;
}

.actionText {
  color: #9ea4aa;
}

.messageContainerSender {
  border-left: 5px;
  border-left-style: solid;
  border-color: var(--primary);
  margin-right: -15px;
  margin-left: -15px;
  padding-left: 5px;
  padding-right: 10px;
}

.messageContainer {
  border-left: 5px;
  border-left-style: solid;
  border-color: coral;
  margin-right: -15px;
  margin-left: -15px;
  padding-left: 5px;
  padding-right: 10px;
}

hr {
  margin-bottom:0px;
}