.protocolCard {
  background-color: #fff069;
}

.protocolCardHeadings {
  font-weight: bold;
  display: inline-flex;
}

.protocolCardHeader {
  background-color: #ffe043;
  font-weight: bold;
}

.protocolEntryHeader {
  font-weight: normal;
  font-size: 1rem;
  display: inline-flex;
  flex-wrap: nowrap;
}
