@import "@folio/stripes-components/lib/variables";

.container {
  display: flex;
  height: 100%;
}

.flow {
  flex: 0 0 320px; 
  padding: var(--gutter-static);
  border-right: 1px solid var(--color-border-p2);
}

.context {
  flex: 1;
  padding: var(--gutter-static);
  max-width: 80em;
}

.optionList button, .optionList a {
  border-radius: 0;
  &:nth-child(even) {
    background-color: var(--color-fill-table-row-even);
  }
  &:nth-child(odd) {
    background-color: var(--color-fill-table-row-odd);
  }
}
