@import "@folio/stripes-components/lib/variables";

.container {
  display: flex;
  height: 100%;
}

.flow {
  flex: 0 0 320px; 
  padding: var(--gutter-static);
  border-right: 1px solid var(--color-border-p2);
}

.context {
  flex: 1;
  padding: var(--gutter-static);
  max-width: 80em;
}

.cards > * {
  margin-top: var(--gutter-static);
}
.cards > *:first-child {
  margin-top: 0;
}

.optionList {
  & > div,
  & > a {
    border-radius: 0;
    &:nth-child(even) {
      background-color: var(--color-fill-table-row-even);
    }
    &:nth-child(odd) {
      background-color: var(--color-fill-table-row-odd);
    }
  }
  
  & > div > button,
  & > div > a[role="button"] {
    &::before {
      /* SO: I hate the use of important, but modular CSS leaves us little choice here,
         short of forcing every button/link to specify the removal of the radius manually which is frankly awful.
       */ 
      border-radius: 0 !important;
      left: 0 !important;
      right: 0 !important;
    }
  }
}
