@import "@folio/stripes-components/lib/variables";

.sentMessageCard {
  background-color: var(--primary);
  color: #fff;
  word-wrap: break-word;
}

.receivedMessageCard {
  background-color: var(--color-fill-table-row-odd);
  word-wrap: break-word;
}

.actionMessageCard {
  background-color: #fffbd9;
  word-wrap: break-word;
}

.actionText {
  color: #9ea4aa;
}
