@import "@folio/stripes-components/lib/variables";

.headerTime {
  color: #9ea4aa;
  font-size: 75%;
}

.header {
  font-size: 125%;
}

.contents {
  word-wrap: break-word;
}

.dropdownMenu {
  float: right;
}

.unread {
  background-color: rgba(43, 117, 187, 0.15);
  color: #000
}
.read {
  background-color: #fff;
  color: #000
}

hr {
  margin-bottom:0px;
}