<div class="site">
  <div class="site__body page-size-is-letter slips-have-phone-number slips-have-email slips-have-due-date slips-have-local-item-barcode">
    <div class="page">
      {{#each records}}
        {{> slip}}
      {{/each}}
    </div>
    <div class="end-of-content">â§ End of content</div>
  </div>
</div>
