<div class="site">
  <div class="site__body page-size-is-letter slips-have-phone-number slips-have-email slips-have-due-date slips-have-local-item-barcode">
    <div class="page">
      <div class="slip-wrapper slip-wrapper--first">
        <div class="slip">
          <div class="slip__section">
            <div class="slip__section__header">
              <h1 class="slip__section__headline">Borrower & more</h1>
            </div>
            <div class="slip__section__body">
              <p class="slot--patron-name">Myers, Evelyn</p>
              <p class="pick-up-location-and-due-date">Hunt Library <span class="conditional-display--due-date">· Due</span></p>
              <div class="request-barcode">
                <svg class="barcode__bars" id="request-barcode--1234"></svg>
                <div class="barcode__text">Request <span class="monospaced">{{id}}</span></div>
              </div>
            </div>
          </div>
          <div class="slip__section slip__section--this-loan">
            <div class="slip__section__header">
              <h1 class="slip__section__headline">This loan</h1>
            </div>
            <div class="slip__section__body">
              <h2 class="slot--item-title">Illustrations to "Les misérables," of Victor Hugo : scenes and characters photographed by A.A. Turner, after the original designs of G. Brion.</h2>
              <p class="item-metadata">By: <span class="slot--item-author">{{author}}</span>. Volume: <span class="slot--item-volume">3/6</span></p>
              <div class="spacer--m"></div>
              <section class="conditional-display--recall-policy">
                <h2>This item may be recalled</h2>
                <p>If this happens, we’ll send an email with a new due date.</p>
                <div class="spacer--m"></div>
              </section>
              <section class="conditional-display--contact-information">
                <h2>Questions about your loan?</h2>
                <p>Contact <span class="conditional-display--phone-number">304-2930-968</span><span class="conditional-display--phone-number conditional-display--email"> or </span><span class="conditional-display--email">library_tripsave@ncsu.edu.</span></p>
              </section>
              <div class="do-not-remove-badge">
                Do not remove<br>
                this slip.<br>
                Thank you!<br>
              </div>
            </div>
          </div>
          <div class="slip__section slip__section--staff-details">
            <div class="slip__section__header">
              <h1 class="slip__section__headline">Details for staff</h1>
            </div>
            <div class="slip__section__body">
              <div class="slot--item-call-number">JK526 2008 .Y437 2010</div>
              <div class="slot--item-location">IUPUI University Lib. - Service & Information Desk I-UNIVLIB STACKS/COMPACT SHELVING</div>
              <div class="details-row">
                <div class="details-row__column details-row__column--first">From NC State</div>
                <div class="details-row__column details-row__column--second">To UPenn</div>
              </div>
              <div class="details-row">
                <div class="details-row__column details-row__column--first">29/07/19 12.04PM</div>
                <div class="details-row__column details-row__column--second">LOGO</div>
              </div>
              <div class="item-barcode conditional-display--item-barcode">
                <svg class="barcode__bars" id="item-barcode--5678"></svg>
                <div class="barcode__text">NC State item <span class="monospaced">0123·4567·8910</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="end-of-content">❧ End of content</div>
  </div>
</div>
