@import "@folio/stripes-components/lib/variables";

.field {
  display: flex;
  flex-grow: 6;
}

.button {
  display: flex;
  margin-bottom: 0;
}

.container {
  display: flex;
  position: absolute;
/*   flex-direction: row-reverse; */
}

.form {
  margin-bottom: 0;
  & * {
    margin-bottom: 0;
  }
}