.pullslip {
  margin: 2em;
  background: #ffffe0;
}

.section {
  border: 2px solid black;
  padding: 0.5em 2em;
}

.section h2 {
  text-transform: uppercase;
  font-weight: normal;
}

.patronName {
  font-size: 200%;
  font-weight: bold;
}

.pickupLocation {
  font-weight: bold;
  margin-bottom: 1em;
}

.requestBarcode {
}

.requestId {
  margin-bottom: 1em;
}

.requestId:not(:empty):before {
  content: "Request ";
}

.title {
  font-weight: bold;
}

.author {
}

.author:before {
  content: "By: ";
}

.volume {
  margin-bottom: 1em;
}

.volume:not(:empty):before {
  content: "Volume: ";
}

.mayBeRecalled {
  font-weight: bold;
}

.ifRecalled {
  margin-bottom: 1em;
}

.questions {
  font-weight: bold;
}

.answers {
  margin-bottom: 1em;
}

.doNotRemove {
  font-weight: bold;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 3px solid black;
  border-radius: 50%;
  width: 10em;
  height: 10em;
  text-align: center;
  background-color: white;
  margin-bottom: -2em;
}

.doNotRemove div {
  vertical-align: middle; /* doesn't seem to work, hence the padding */
  padding-top: 2.5em;
}

.callNumber {
  font-size: 150%;
  font-weight: bold;
  border-top: 1px solid lightgrey;
  padding: 0.4em 0;
}

.location {
  font-size: 150%;
  border-top: 1px solid lightgrey;
  padding: 0.4em 0;
}

.fromLibrary {
  padding-top: 0.4em;
  border-top: 1px solid lightgrey;
  font-size: 150%;
}

.fromLibrary:before {
  content: "From ";
}

.toLibrary {
  font-size: 150%;
  padding-bottom: 0.4em;
}

.toLibrary:before {
  content: "To ";
}

.datePrinted {
  padding-top: 0.4em;
  border-top: 1px solid lightgrey;
  font-size: 150%;
}

.consortiumLogo {
  padding-bottom: 0.4em;
}

.itemBarcode {
  border-top: 1px solid lightgrey;
  padding-top: 0.4em;
}

.itemId {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 0.4em;
}
