@import "@folio/stripes-components/lib/variables";

.addNoteForm {
  flex-direction: row-reverse;
  display: flex;
  flex-grow: 10;
  margin-bottom: 0;
}

.actionButton {
  display: flex;
  flex-shrink: 1;
  background-color: transparent;
}

.container {
  display: flex;
  justify-content: space-between;
}