@import "@folio/stripes-components/lib/variables";

.addNoteForm {
  float: right;
  flex-direction: row-reverse;
  display: flex;
  flex-grow: 2;
}

.button {
  flex-shrink: 4;
  display: flex;
  background-color: transparent;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
}